﻿@model IEnumerable<DataAccess.Entities.Product>

@{
    ViewData["Title"] = "ProductsList";
}

<h1>ProductsList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                <div class="card-body">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Name)</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="text-dark" asp-area="" asp-controller="Checkout" asp-action="AddToCart" asp-route-productId="@item.Id">Add to cart</a>
                            <a class="text-dark" asp-area="" asp-controller="Product" asp-action="Edit" asp-route-productId="@item.Id">Edit</a>
                            <a class="text-dark" asp-area="" asp-controller="Product" asp-action="Delete" asp-route-productId="@item.Id">Delete</a>
                        </div>
                        <small class="text-muted">@Html.DisplayFor(modelItem => item.Price) zł</small>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

